.to-do-element {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid hsl(237, 14%, 26%);
  padding: 20px 20px;

  input {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid hsl(237, 14%, 26%);
    outline: none;
    cursor: pointer;
  }

  .item-text {
    color: hsl(234, 11%, 52%);
    padding-left: 10px;
    font-size: 18px;
  }
  
  .text-line-through {
    text-decoration: line-through;
  }
}

input:checked {
  position: relative;
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

input:checked::before {
  content: "\2713";
  font-size: 1em;
  color: #fff;
  position: absolute;
  right: 4px;
  top: 0px;
}
