.list-container {
  margin-top: 20px;
  background-color: hsl(235, 24%, 19%);
  width: 700px;
  border-radius: 5px;

  .footer {
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .filters {
      cursor: pointer;
    }
  
    .active-text {
      padding: 0 10px;
    }
  
    span {
      color: hsl(234, 11%, 52%);
    }
  }
}