.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 90px;

  .title {
    color: white;
    font-size: 50px;
    font-family: "JosefinSans-Bold";
    letter-spacing: 5px;
  }

  .add-todo-input {
    background-color: hsl(235, 24%, 19%);
    border: none;
    height: 60px;
    width: 700px;
    border-radius: 5px;
    font-size: 18px;
    color: hsl(234, 11%, 52%);
    margin-top: 30px;
    padding-left: 15px;
    font-family: "JosefinSans-Regular";
  }

  .add-todo-input::placeholder {
    color: hsl(234, 11%, 52%);
    font-family: "JosefinSans-Regular";
  }

  .add-todo-input:focus {
    outline: none;
  }
}
